<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=900, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>    
    
  {% with messages = get_flashed_messages(with_categories = true) %}
   {% if messages %}
    {% for category, message in messages %}
     <p class="{{category}}">{{message}}</p>
     {% endfor %}
    {% endif %}
   {% endwith %}
  <form action="/process" method="post">
    <label for="firstname">First Name:</label>
    <input id="firstname" type="text" name="firstname">
    <label for="lastname">Last Name:</label>
    <input id="lastname" type="text" name="lastname">
    <label for="email">Email:</label>
    <input id="email" type="text" name="email">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <label for="confirmpassword">Confirm Password:</label>
    <input id="confirmpassword" type="password" name="confirmpassword">
    <input type="submit" value="Submit">
  </form>
</body>
</html>